doctype html
html
  head
    title= 'Cards Online'
  body
    div(id='app')
    script window.__PRELOADED_STATE__ = {global: {user: !{user}}, friend: {friends: !{friends}, requestsSent: !{requestsSent}, requestsReceived: !{requestsReceived}}}
    script(src='vendor.js')
    script(src='bundle.js')